h2 {
  color: Yellow;
}
h4 {
  color: White;
} 
h3{
  color: Red;
}
table, th {
  color: red;
  border-collapse: collapse;
  border: dashed black;
}
ul {
  list-style-type: circle;
}
table {
  width: 40%;
}
td:hover {
  background-color: green;
}

img {
  width: 250px
}
img:hover {
  border: dotted 4px black;
  width: 130px;     
  border-raduis: 60%;
}
body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUBbQ9WNylfR4BkZxg0RxOFhvAO-N-uUoiGKUpRblhFnkiNJezGE1tMQ-sC243Viu3qL4:https://external-preview.redd.it/hEate4ufAsbJVU-3KF1CKCRacwAcCV7hxUMM20igwHo.jpg%3Fwidth%3D640%26crop%3Dsmart%26auto%3Dwebp%26s%3Dfea1cac01ff692bd96ec477276b00db9e94070de&usqp=CAU);
}
